@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  margin: 0;
}

.background {
  background-image: url("/public/img/backgroundPokemon.png");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}